@using STRACT.web.Resources
@inject LocalizationService _loc

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - STRACT.web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />
    
    @*FullCalendar*@
    <link rel="stylesheet" type="text/css" href="~/css/js-year-calendar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-datepicker.standalone.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">STRACT.web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                @_loc.GetLocalizedHtmlString("Users")
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">@_loc.GetLocalizedHtmlString("Users")</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UserInTeams" asp-action="Index">@_loc.GetLocalizedHtmlString("Team Users")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UserHolidays" asp-action="Calendar">@_loc.GetLocalizedHtmlString("Vacations")</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                @_loc.GetLocalizedHtmlString("Admin Tools")
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="LineOfProducts" asp-action="Index">@_loc.GetLocalizedHtmlString("Lines of Products")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Locations" asp-action="Index">@_loc.GetLocalizedHtmlString("Locations")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Index">@_loc.GetLocalizedHtmlString("Departments")</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AlertTypes" asp-action="Index">@_loc.GetLocalizedHtmlString("Alert Manager")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Topics" asp-action="Index">@_loc.GetLocalizedHtmlString("Topics Manager")</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="FinancialLineTypes" asp-action="Index">@_loc.GetLocalizedHtmlString("Financial Types Manager")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="FinancialLineSubTypes" asp-action="Index">@_loc.GetLocalizedHtmlString("Financial Sub Types Manager")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Currencies" asp-action="Index">@_loc.GetLocalizedHtmlString("Currencies Manager")</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="TaskTypes" asp-action="Index">@_loc.GetLocalizedHtmlString("Task Types Manager")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Priorities" asp-action="Index">@_loc.GetLocalizedHtmlString("Priorities Manager")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="LocationInKanbans" asp-action="Index">@_loc.GetLocalizedHtmlString("Kanban Location Manager")</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Audits" asp-action="Index">@_loc.GetLocalizedHtmlString("Audits")</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                @_loc.GetLocalizedHtmlString("Human Resources")
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Activities" asp-action="Index">@_loc.GetLocalizedHtmlString("Activities")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ActivityGroups" asp-action="Index">@_loc.GetLocalizedHtmlString("Activity Groups")</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Skills" asp-action="Index">@_loc.GetLocalizedHtmlString("Skills")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="SkillGroups" asp-action="Index">@_loc.GetLocalizedHtmlString("Skill Groups")</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="FunctionalRoles" asp-action="Index">@_loc.GetLocalizedHtmlString("Functional Roles")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="OrganizationalRoles" asp-action="Index">@_loc.GetLocalizedHtmlString("Organizational Roles")</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="SkillInActivities" asp-action="Index">@_loc.GetLocalizedHtmlString("Skills in Activities")</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                @_loc.GetLocalizedHtmlString("Certifications")
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Entities" asp-action="Index">@_loc.GetLocalizedHtmlString("Entities Manager")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ContactPersons" asp-action="Index">@_loc.GetLocalizedHtmlString("Contacts Manager")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="CertificationLines" asp-action="Index">@_loc.GetLocalizedHtmlString("Certification Lines")</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Certificates" asp-action="Index">@_loc.GetLocalizedHtmlString("Certificates")</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                @_loc.GetLocalizedHtmlString("Declarations")
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DeclarationItems" asp-action="Index">@_loc.GetLocalizedHtmlString("Declarations")</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                @_loc.GetLocalizedHtmlString("Projects")
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ProjectItems" asp-action="Index">@_loc.GetLocalizedHtmlString("Projects")</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@_loc.GetLocalizedHtmlString("Privacy")</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>
                        @await Html.PartialAsync("_SetLanguagePartial")
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal" tabindex="-1" id="form-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

          </div>
        </div>
      </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - STRACT.web - <a asp-area="" asp-controller="Home" asp-action="Privacy">@_loc.GetLocalizedHtmlString("Privacy")</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/js-year-calendar.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
