@model IEnumerable<STRACT.Entities.Users.UserInTeam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                Organizational Role
            </th>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationalRole.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a style='margin-right:16px' asp-controller="UserSkillsEvaluations" asp-action="Index" asp-route-userInTeamId="@item.UserInTeamId" class="dropdown-item">
                                <i class="fas fa-book"></i> Evaluations
                            </a>
                        </li>
                        <li>
                            <a asp-action="Edit" asp-route-id="@item.UserInTeamId" class="dropdown-item">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a asp-action="Details" asp-route-id="@item.UserInTeamId" class="dropdown-item">
                                <i class="fas fa-info-circle"></i> Details
                            </a>
                        </li>
                        <li>
                            <a asp-action="Delete" asp-route-id="@item.UserInTeamId" class="dropdown-item">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
