@model STRACT.Entities.HumanResources.Activity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br/>
            <h5>Activity Groups</h5>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<STRACT.web.Models.HumanResources.AssignedActivityGroups> activityGroups = ViewBag.ActivityGroups;
                                foreach (var group in activityGroups)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                    <input  type="checkbox"
                                            name="selectedGroups"
                                            value="@group.ActivityGroupId"
                                            @(Html.Raw(group.Assigned ? "checked=\"checked\"" : ""))/>
                                            @group.ActivityGroupId @: @group.Name
                                    @:</td>
                                }
                                @:</tr>
                            }
                    </table>

                </div>
            </div>
            <br/>
            <h5>Organizational Roles</h5>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                cnt = 0;
                                List<STRACT.web.Models.HumanResources.AssignedOrganizationalRoles> organizationalRoles = ViewBag.OrganizationalRoles;
                                foreach (var group in organizationalRoles)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                    <input  type="checkbox"
                                            name="selectedOrgRoles"
                                            value="@group.OrganizationalRolesId"
                                            @(Html.Raw(group.Assigned ? "checked=\"checked\"" : ""))/>
                                            @group.OrganizationalRolesId @: @group.Name
                                    @:</td>
                                }
                                @:</tr>
                            }
                    </table>

                </div>
            </div>
            <h5>Functional Roles</h5>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                cnt = 0;
                                List<STRACT.web.Models.HumanResources.AssignedFunctionalRoles> functionalRoles = ViewBag.FunctionalRoles;
                                foreach (var group in functionalRoles)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                    <input  type="checkbox"
                                            name="selectedFRoles"
                                            value="@group.FunctionalRolesId"
                                            @(Html.Raw(group.Assigned ? "checked=\"checked\"" : ""))/>
                                            @group.FunctionalRolesId @: @group.Name
                                    @:</td>
                                }
                                @:</tr>
                            }
                    </table>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
