@model STRACT.web.Models.HumanResources.ActivityInGroupsData

@{
    ViewData["Title"] = "Activities";
}

<h1>Activities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Activity Groups
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Activities) 
{
    string selectedRow = "";
    if (item.ActivityId == (int?)ViewData["ActivityId"])
    {
        selectedRow = "table-success";                
    }
        <tr class = "@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.ActivityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @foreach (var activityGroup in item.ActivityInGroups)
                {
                    @activityGroup.ActivityGroup.ActivityGroupId <span> | </span>  @activityGroup.ActivityGroup.Name  <br/>
                }
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.ActivityId">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.ActivityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActivityId">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.ActivityGroups != null)
{
    <h3>Activity Groups that contain selected Activity</h3>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>

        @foreach (var item in Model.ActivityGroups)
        {
            <tr>
                <td>
                    @item.ActivityGroupId
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
            </tr>
        }

    </table>
}
@if (Model.SkillInActivities != null)
{
    <h3>Skills associated</h3>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Requested Score</th>
        </tr>

        @foreach (var item in Model.SkillInActivities)
        {
            <tr>
                <td>
                    @item.SkillId
                </td>
                <td>
                     @item.Skill.SkillGroup.Name <span> | </span> @item.Skill.Name
                </td>
                <td>
                    @item.RequestedScore
                </td>
            </tr>
        }

    </table>
}