@using STRACT.web.Resources

@model PermissionViewModel
@inject LocalizationService _loc

@{
    ViewData["Title"] = _loc.GetLocalizedHtmlString("Permissions");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@_loc.GetLocalizedHtmlString("Permissions")</h1>
<br />
<div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="Permission" asp-action="Index" method="get">
            <input asp-for="@Model.RoleId" type="hidden" />
            <div class="form-actions input-group no-color">
                <p>
                    <div class="col-auto">
                        @_loc.GetLocalizedHtmlString("Search permissions"):
                    </div>
                    <div class="col-auto">
                        <input type="text" name="SearchString" value="@Model.SearchString" class="form-control wd-25" />
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Search" class="btn btn-info" />
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-outline-info" asp-action="Index" asp-route-roleId="@Model.RoleId" asp-route-searchString="">@_loc.GetLocalizedHtmlString("Back to Full List")</a>
</div>
                </p>
            </div>
        </form>
        <br />
        <form asp-controller="Permission" method="post" asp-action="Update" class="d-inline">
            <input asp-for="@Model.RoleId" type="hidden" />
            <table class="table table-striped" id="permissionTable">
                <thead>
                    <tr>
                        <th>
                            @_loc.GetLocalizedHtmlString("Type")
                        </th>
                        <th>
                            @_loc.GetLocalizedHtmlString("Permission")
                        </th>
                        <th>
                            @_loc.GetLocalizedHtmlString("Status")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.RoleClaims.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.RoleClaims[i].Type" type="hidden" />
                                @Model.RoleClaims[i].Type
                            </td>
                            <td>
                                <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                @Model.RoleClaims[i].Value
                            </td>
                            <td>
                                <div class="form-check m-1">
                                    <input asp-for="@Model.RoleClaims[i].Selected" class="form-check-input" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-sm-12" style="padding: 20px 20px 0px 0px">
                <button type="submit" id="save" class="btn btn-info">
                    <i class="fa fa-check"></i>
                    @_loc.GetLocalizedHtmlString("Save")
                </button>
                <button onclick="goBack()"
                        class="btn btn-info" style="width:auto">
                    @_loc.GetLocalizedHtmlString("Cancel")
                    </button>
                </div>
        </form>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>