@model STRACT.Entities.Projects.ProjectItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailOfProblem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailOfProblem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MappedBenefits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MappedBenefits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedResults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedResults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConceptsDeveloped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConceptsDeveloped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainConclusions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainConclusions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolderPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolderPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
