@using STRACT.web.Resources
@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@inject LocalizationService _loc
@{
    ViewData["Title"] = _loc.GetLocalizedHtmlString("Roles Manager");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@_loc.GetLocalizedHtmlString("Roles Manager")</h1>
<form method="post" asp-action="AddRole" asp-controller="RoleManager">
    <div class="input-group">
        <div class="col-auto">
            <input name="roleName" class="form-control">
        </div>
        <div class="col-auto">
            <span class="input-group-btn">
                <button class="btn btn-info">@_loc.GetLocalizedHtmlString("Add New Role")</button>
            </span>
        </div>
    </div>
</form>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>@_loc.GetLocalizedHtmlString("Role")</th>
            <th style="width:10%">
                @_loc.GetLocalizedHtmlString("Actions")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td class=" text-right">
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            @_loc.GetLocalizedHtmlString("Action")
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            @if (role.Name != "SuperAdmin")
                            {
                                <li>
                                    <a style='margin-right:16px' asp-controller="Permission" asp-action="Index" asp-route-roleId="@role.Id" asp-route-searchString="" class="dropdown-item">
                                        <i class="fas fa-wrench"></i> @_loc.GetLocalizedHtmlString("Manage Permissions")
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>