@using STRACT.web.Resources
@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@inject LocalizationService _loc
@{
    ViewData["Title"] = _loc.GetLocalizedHtmlString("Roles Manager");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@_loc.GetLocalizedHtmlString("Roles Manager")</h1>
<form method="post" asp-action="AddRole" asp-controller="RoleManager">
    <div class="input-group">
        <div class="col-auto">
            <input name="roleName" class="form-control">
        </div>
        <div class="col-auto">
            <span class="input-group-btn">
                <button class="btn btn-info">@_loc.GetLocalizedHtmlString("Add New Role")</button>
            </span>
        </div>
    </div>
</form>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>@_loc.GetLocalizedHtmlString("Role")</th>
            <th style="width:10%">
                @_loc.GetLocalizedHtmlString("Actions")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td class=" text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @_loc.GetLocalizedHtmlString("Action")
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a class="dropdown-item">
                                <i class="fas fa-pencil-alt"></i> @_loc.GetLocalizedHtmlString("Edit")
                            </a>
                            <form class="d-inline">
                                <a class="dropdown-item"><i class="fas fa-trash-alt"></i> @_loc.GetLocalizedHtmlString("Delete")</a>
                            </form>
                            @if (role.Name != "SuperAdmin")
                            {
                        <a style='margin-right:16px' asp-controller="Permission" asp-action="Index" asp-route-roleId="@role.Id" asp-route-searchString="" class="dropdown-item">
                            <i class="fas fa-wrench"></i> @_loc.GetLocalizedHtmlString("Manage Permissions")
                        </a>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>