@model STRACT.Entities.Declaration.DeclarationSignature

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeclarationSignature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Declaration)
        </dt>
        <dd class = "col-sm-10">
            @Model.DeclarationItemId <span> | </span> @Model.Declaration.Title
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Model.User.ApplicationUser.UserName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SignatureId" asp-route-selectedDeclarationId="@ViewBag.SelectedDeclaration">Edit</a> |
    <a asp-action="Index" asp-route-selectedDeclarationId="@ViewBag.SelectedDeclaration">Back to List</a>
</div>
