@model IEnumerable<STRACT.Entities.Declaration.DeclarationSignature>

@{
    ViewData["Title"] = "Index";
}

<h1>Declaration Id: @ViewBag.SelectedDeclaration - Signatures</h1>

<p>
    <a asp-action="Create" asp-route-selectedDeclarationId="@ViewBag.SelectedDeclaration">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SignatureId)
            </td>
            <td>
                @item.DateSigned.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.User.ApplicationUser.UserName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SignatureId" asp-route-selectedDeclarationId="@ViewBag.SelectedDeclaration">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SignatureId" asp-route-selectedDeclarationId="@ViewBag.SelectedDeclaration">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SignatureId" asp-route-selectedDeclarationId="@ViewBag.SelectedDeclaration">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="DeclarationItems" asp-action="Index">Back to List</a>
</div>