@using STRACT.web.Models
@using STRACT.web.Resources

@inject LocalizationService _loc
@model List<UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@_loc.GetLocalizedHtmlString("Manage User Roles")</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@_loc.GetLocalizedHtmlString("Username")</th>
            <th>@_loc.GetLocalizedHtmlString("Email")</th>
            <th>@_loc.GetLocalizedHtmlString("Roles")</th>
            <th>@_loc.GetLocalizedHtmlString("Action")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <a>@user.UserName</a>
                    <small>@user.UserId</small>
                </td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            @_loc.GetLocalizedHtmlString("Action")
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a style='margin-right:16px' asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId" class="dropdown-item">
                                    <i class="fas fa-exchange-alt"></i> @_loc.GetLocalizedHtmlString("Change User Roles")
                                </a>
                            </li>
                            <li>
                                <a style='margin-right:16px' asp-controller="RoleManager" asp-action="Index" class="dropdown-item">
                                    <i class="fas fa-wrench"></i> @_loc.GetLocalizedHtmlString("Manage Roles")
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
