@using STRACT.web.Resources

@model List<ManageUserRolesViewModel>
@inject LocalizationService _loc
@{
    ViewData["Title"] = _loc.GetLocalizedHtmlString("Manage");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>@_loc.GetLocalizedHtmlString("Change User Roles")</h2>
            @_loc.GetLocalizedHtmlString("Add/Remove Roles for User") / @ViewBag.UserName.
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].Selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].Selected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="@_loc.GetLocalizedHtmlString("Update")" class="btn btn-info"
                   style="width:auto" />
            <button onclick="goBack()"
               class="btn btn-info" style="width:auto">@_loc.GetLocalizedHtmlString("Cancel")</button>
</div>
    </div>
</form>
<script>
    function goBack() {
      window.history.back();
    }
</script>