@model IEnumerable<STRACT.Entities.Users.UserSkillsEvaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Evaluating: @ViewBag.SelectedUserInTeamName </h1>

<p>
    <a asp-action="Create" asp-route-userInTeamId="@ViewBag.SelectedUserInTeamId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Skill Group
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Skill.SkillGroup.Name
            </td>
            <td>
                @item.Skill.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit",  new { skillId = item.SkillId, userId = item.UserId}) |
                @Html.ActionLink("Details", "Details", new { skillId = item.SkillId, userId = item.UserId}) |
                @Html.ActionLink("Delete", "Delete", new { skillId = item.SkillId, userId = item.UserId})
            </td>
        </tr>
}
    </tbody>
</table>
